exportPattern("^[[:alpha:]]+")
importFrom("stats", "qchisq", "as.formula", "coef", "complete.cases", "lm",
           "mad", "mahalanobis", "pnorm", "predict", "pt", "qnorm",
           "quantile", "rnorm", "sd", "setNames", "update", "var")
importFrom("utils", "globalVariables")
